<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: layout(_content = ~{::content},_title = ${'分类归档: '+category.spec.displayName})}">
<th:block th:fragment="content">
    <section id="primary" class="site-content">
        <div class="breadcrumb">
            <ul id="breadcrumb" class="breadcrumb">
                <li class="item"><a href="/">⚐ Home</a></li>
                <li class="seperator"> / </li>
                <li class="item item-current" th:text="${category.spec.displayName}"></li>
            </ul>
        </div>
        <div id="content" role="main">
            <header class="archive-header">
                <h1 class="taxonomy-title">分类：[[${category.spec.displayName}]] 相关文章</h1>
            </header>
            <th:block th:replace="~{modules/content}" />
        </div>
        <th:block th:replace="~{modules/widgets/pagination :: pagination(${category.status.permalink},${posts})}"></th:block>
    </section>
    <th:block th:replace="~{modules/sidebar :: sidebar (${theme.config.sidebar.categoryWidget})}"></th:block>
</th:block>

</html>